.client {
  padding: 7rem 0;
  background-color: $color-grey-light-1;
  @include media("<=tablet") {
    padding: 4rem 0;
  }
  .client__wrapper {
    width: 100%;
    text-align: center;
    &-subheading {
      font-size: 1.3rem;
      margin-bottom: 2rem;

      @include media("<=phone") {
        margin-bottom: 1.5rem;
        font-size: 1.1rem;
      }
    }
    &-description {
      font-weight: 300;
      font-size: 22px;
      line-height: 1.5;
      margin-bottom: 2rem;

      @include media("<=tablet") {
        font-size: 20px;
        line-height: 1.3;
      }
      @include media("<=phone") {
        font-size: 20px;
        line-height: 1.2;
      }
    }
    &-clients {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;

      @include media("<=tablet") {
        flex-direction: column;
        justify-content: center;
      }
      img {
        margin-bottom: 2rem;
        &:not(:last-child) {
          margin-right: 3rem;

          @include media("<=tablet") {
            margin-right: 0;
            margin-bottom: 2rem;
          }
        }
      }
    }
  }
}
