.feature {
  position: relative;
  padding: 5rem 0;
  background-color: $color-white;
  @include media("<=tablet") {
    margin-top: -5rem;
    padding: 5rem 0;
  }
  @include media("<=phone") {
    margin-top: -2rem;
    padding: 2rem 0;
  }

  &-cube {
    position: absolute;
    top: -10%;
    left: 5%;
    width: 100px;
  }

  &-cone {
    position: absolute;
    top: 20%;
    right: 5%;
    width: 150px;

    @include media("<=tablet") {
      width: 100px;
      filter: blur(4px);
      -webkit-filter: blur(4px);
    }
  }

  &-ft-cube {
    position: absolute;
    bottom: -30%;
    left: 5%;
    width: 300px;
    filter: blur(1px);
    -webkit-filter: blur(1px);

    @include media("<=tablet") {
      width: 350px;
      filter: blur(4px);
      -webkit-filter: blur(4px);
    }
    @include media("<=phone") {
      width: 150px;
    }
  }

  .row {
    padding: 0;
    flex-direction: row-reverse;
    column-gap: 2rem;

    @include media("<=tablet") {
      flex-direction: column;
      flex-wrap: wrap;
    }
  }

  &__left {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: auto 0;
    padding: 0 1rem;

    @include media("<=tablet") {
      text-align: center;
      align-items: center;
      margin-bottom: 4rem;
      z-index: 2;
    }

    &-heading {
      font-size: 4rem;
      font-weight: 700;
      color: $color-black;
      margin-bottom: 1rem;
      line-height: 1.2;
      text-shadow: 0.2rem 0.81rem 1.5rem rgba($color-black, 0.1);

      @include media("<=1024px") {
        font-size: 2.5rem;
      }

      @include media("<=960px") {
        font-size: 2.3rem;
      }

      @include media("<=tablet") {
        font-size: 2rem;
      }
      @include media("<=phone") {
        font-size: 2.2rem;
      }

      span {
        background-image: linear-gradient(
          43deg,
          $color-tertiary-dark 0%,
          $color-secondary-dark 46%,
          #ffcc70 100%
        );
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
      }
    }

    &-desc {
      font-size: 22px;
      line-height: 1.5;
      font-weight: 300;
      margin-bottom: 1rem;

      @include media("<=tablet") {
        font-size: 20px;
        line-height: 1.3;
        margin-bottom: 1.5rem;
      }
      @include media("<=phone") {
        font-size: 20px;
        line-height: 1.2;
      }
    }
  }

  &__right {
    flex: 1;
    @include media("<=960px") {
      align-self: center;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;

      @include media("<=960px") {
        width: 85%;
        height: 85%;
      }
      @include media("<=phone") {
        width: 100%;
      }
    }
  }
}
