$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ff4ff3;
$color-secondary-dark: #c850c0;

$color-tertiary-light: #2130e4;
$color-tertiary-dark: #5643fa;

$color-complementary-light: #ffb900;
$color-complementary-dark: #ff7730;

$color-black: #000000;
$color-white: #ffffff;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #4e4e4e;
$color-yellow: #ffcc70;

$testimonial-text: #2e293c;
$testimonial-secondary: #a09da6;

$box-shadow: 0 0.5rem 1rem rgba($color-black, 0.15);
$box-shadow-hover: 0 1rem 2rem rgba($color-black, 0.2);

$mobile-box-shadow: #b0b0b229 0px -5px 6px 0px inset,
  #0000003d 4px 6px 11px 1px inset;
$mobile-bg: #272b2d;
